/* side layout, grid - Desk version*/
@media (min-width: 800px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* Mushroom icon */
.mushroom_icon {
  width: 68%;
}

/* Hero text styling */
.hero_txt {
  display: grid;
  place-items: center;
  margin-top: 15%;
}

.hero_txt h5 {
  margin: 0% 26% 0% 20%;
}

/* Hero img layout */
.hero_img {
  display: grid;
  place-items: center;
}

/* iconer layout og styling */
.season_icons {
  display: flex;
  flex-direction: row;
  place-content: center;
  gap: 5px;
  margin: 5%;
}

/* Icons hidden i mobile version */
@media (max-width: 800px) {
  .season_icons {
    display: none;
  }
}

/* box shaddow til iconer */
