/* Side layout, grid - Desk version*/
@media (min-width: 800px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* Vild mad styling */
h1 {
  display: grid;
  place-content: center;
}

/*********** Indhold i venstre side af grid ************/

/* Hero text styling, mobile version */
@media (max-width: 800px) {
  .hero_txt h5,
  h2 {
    padding-top: 5%;
    margin-left: 7%;
    margin-right: 7%;
  }
  .forside_h1 {
    font-size: 80px;
  }
  .hero_txt h2 {
    font-size: 40px;
  }
  .hero_txt h5 {
    font-size: 15px;
  }
  section .quiz_button {
    margin-left: 7%;
  }
}

/* Hero text styling, desk version */
@media (min-width: 800px) {
  .hero_txt {
    margin: 15% 0 0 6%;
  }
  .hero_txt h5 {
    margin-top: 3%;
    font-weight: bold;
    font-size: 20px;
  }
  .hero_txt h2 {
    font-size: 50px;
  }
  .tekst_icons {
    margin-left: 10%;
  }
  .forside_h1 {
    font-size: 120px;
  }
  section h2 {
    font-size: 30px;
  }
}

/* Knapper/iconer layout og styling */

.season_icons h6 {
  padding-top: 10%;
  display: flex;
  justify-content: center;
}

.season_icons {
  display: flex;
  flex-direction: row;
  gap: 2%;
  margin: 7% 0% 7% 5%;
}

/* Hover styling */
.season_icons a:hover {
  animation-name: scale_kf;
  animation-duration: 0s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

@keyframes scale_kf {
  0% {
    scale: 1;
  }

  100% {
    scale: 1.1;
  }
}

/*********** Indhold i højre side af grid ************/

/* Mushroom icon størrelse og placering */
.mushroom_icon {
  width: 70%;
  margin: auto;
  padding-bottom: 5%;
}

/* Vild mad hide mobile version */

section {
  margin-top: -15%;
  margin-bottom: 8%;
  margin-left: 7%;
}
@media (max-width: 800px) {
  section {
    margin-top: 0;
  }
}

.quiz_button a {
  padding: 2%;
  background-color: #e3780c;
  border-radius: 10%;
  color: black;
  font-weight: bold;
  font-family: "Lato", sans-serif;
}
.quiz_button {
  padding: auto;
  margin: 4% 0%;
}
.quiz_button:hover {
  transform: scale(1.2);
  margin-left: 9%;
}
