/*****Reset*****/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  background-color: #f5f1e8;
}

main {
  margin: 0 2% 0 2%;
}

/************** Icons *************/

/* hover af icons */
.spring_img:hover,
.summer_img:hover,
.autumn_img:hover,
.winter_img:hover {
  animation-name: scale_kf;
  animation-duration: 0s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

@keyframes scale_kf {
  0% {
    scale: 1;
  }

  100% {
    scale: 1.1;
  }
}

/* Layout af icons */
.season_icons a {
  display: grid;
  place-items: center;
}

/******** Fonte og farve styling *********/
main {
  background-color: #f5f1e8;
}

h1 {
  font-family: "Love Ya Like A Sister", cursive;
  font-weight: 400;
  font-size: 50px;
  padding-bottom: 8px;
}

h2 {
  font-family: "Love Ya Like A Sister", cursive;
  font-weight: 400;
  font-size: 35px;
}
h3 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 30px;
}
h4 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #3e3f43;
}

h5 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 13px;
  padding-bottom: 10px;
}

p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

/* Link styling */
a {
  color: #3e3f43;
  text-decoration: underline;
  font-family: "Love Ya Like A Sister";
  font-size: 18px;
}

/******** Menu *********/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: #f5f1e8;
}

.logo {
  width: 5%;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  padding-top: 10px;
}

.menu img {
  width: 70%;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}

.menu a {
  display: block;
  transition: color 0.3s;
}

.menu a:hover {
  color: #5e6c5b;
  animation-name: scale_kf;
  animation-duration: 0s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

@keyframes scale_kf {
  0% {
    scale: 1;
  }

  100% {
    scale: 1.1;
  }
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #7d8d66;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}
@media screen and (max-width: 800px) {
  .flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 10%;
  }
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #f5f1e8;
    position: absolute;
    top: 30px;
    right: 0;
    z-index: 1;
    padding: 5% 5% 5% 5%;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
    text-align: left;
  }
}

@media screen and (min-width: 800px) {
  .hide {
    display: none;
  }
}

/******** Footer *********/

/*footer helt layout*/
footer {
  background-color: #7d8d66;
  color: #183634;
  width: 100%;
  height: auto;
  display: flex;
  padding: 20px;
  flex-direction: row;
  justify-content: space-between;
}
/*footer VIlDMAD titles font*/
.footer_title {
  padding-left: 20px;
}
/*footer infomation layout*/
footer .info {
  display: grid;
  line-height: 20px;
}
.adress,
.telefon,
.email {
  display: flex;
  gap: 8px;
}
/*footer socialmedia ikoner layout*/
.ikoner {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  padding-top: 15px;
  font-size: 20px;
}

@media screen and (max-width: 800px) {
  footer {
    background-color: #7d8d66;
    color: #183634;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
  }
  .footer_title {
    font-size: 40px;
    padding-bottom: 80px;
  }
  .info {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
  }

  .adress,
  .telefon,
  .email {
    display: flex;
    padding-top: 10px;
  }
  .socialmedia {
    padding: 80px 0;
    display: flex;
    gap: 20px;
  }
  .ikoner {
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-size: 20px;
    padding-top: 0;
  }
  .footer_logo {
    display: flex;
    width: 100px;
  }
}
