* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

footer {
  background-color: #7d8d66;
  color: aliceblue;
  width: 100%;
  height: auto;
  display: flex;
  padding: 20px;
  flex-direction: row;
  justify-content: space-between;
}

.info {
  display: grid;
  line-height: 20px;
}
.adress,
.telefon,
.email {
  display: flex;
  gap: 8px;
}
.ikoner {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  padding-top: 15px;
  font-size: 20px;
}
.socialmedia {
  padding: 10px;
}

@media screen and (max-width: 800px) {
  footer {
    background-color: #7d8d66;
    color: aliceblue;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
  }
  .footer_title {
    justify-content: left;
    font-family: "Love Ya Like A Sister", cursive;
    font-style: normal;
    font-size: 40px;
  }
  .info {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
  }

  .adress,
  .telefon,
  .email {
    display: flex;
    padding-top: 10px;
  }
  .socialmedia {
    padding-top: 40px;
    display: flex;
  }

  .footer_logo {
    display: flex;
    width: 100px;
  }
}
