/* Side layout i mobile version */
.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3%;
  padding-bottom: 45%;
  padding-top: 4%;
}
.gallery_txt {
  display: grid;
  grid-column: 1 / span 2;
  margin-bottom: -20%;
}

.gallery_txt h1 {
  font-size: 60px;
}

.gallery_txt h5 {
  padding-bottom: 20%;
  font-size: 16px;
}

/* Side layout i desk version */
@media screen and (min-width: 800px) {
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5%;
    margin: 0 5% 0 2%;
    padding-bottom: 20%;
  }
  .gallery_txt {
    display: grid;
    grid-column: 1 / span 2;
    margin-top: 15%;
  }
  .gallery_txt h5 {
    margin-top: -23%;
    font-size: 16px;
  }
}

.flex_txt {
  display: flex;
}

/************ Forskellige layout til card design ******/

/* Card text layout */
.flex {
  display: flex;
  padding: 5%;
  gap: 5%;
}

/* Styling af card */
.mushroom_article {
  position: relative;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

/* Card hover styling */
.mushroom_article:hover {
  animation-name: scale_kf;
  animation-duration: 0s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

@keyframes scale_kf {
  0% {
    scale: 1;
  }

  100% {
    scale: 1.1;
  }
}

/* Styling af tekst, Mobile */
.mushroom_name {
  padding: 5% 0% 0% 0%;
  display: grid;
  place-content: center;
  text-decoration: none;
  font-size: 13px;
}

/* Styling af tekst, Desk */
@media screen and (min-width: 800px) {
  .mushroom_name {
    font-size: 17px;
  }
}

/* Fjerne underline på cards */
.mushroom_link {
  text-decoration: none;
}

/* Spiselig icon styling */
.icon {
  width: 20%;
  border-radius: 20%;
}

/* Baggrundsfarver til card */
.spring {
  background-color: #afcb8c;
}
.summer {
  background-color: #ffe866;
}
.autumn {
  background-color: #f09030;
}
.winter {
  background-color: #accbff;
}
