/* Side layout i mobile version */
.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5%;
}

/* Side layout i desk version */
@media screen and (min-width: 800px) {
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 8%;
  }
}

.small_mushroom {
  position: relative;
  width: 80%;
  background-color: #ed1e79;
  padding: 5% 5% 6% 5%;
  margin: 25% 0% 35% 0%;
}

.small_mushroom2 {
  position: relative;
  width: 80%;
  background-color: #b009ff;
  padding: 5% 5% 6% 5%;
  margin: 0% 0% 60% 0%;
}

.big_mushroom {
  position: relative;
  background-color: #107dff;
  padding: 6% 5% 0% 5%;
  margin: 25% 0% 5% 0%;
}

.big_mushroom2 {
  position: relative;
  background-color: #ff9a24;
  padding: 6% 6% 0% 5%;
  margin: 0% 0% 30% 0%;
}

.product_name {
  position: absolute;
  bottom: 13%;
  left: 6%;
}

.product_name2 {
  position: absolute;
  bottom: 6%;
  left: 7%;
}
